<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs")  %>

    <body>

        <%- include("./partials/nav.ejs")  %>

            <div class="details content">
                <!-- Blog Title -->
                <h2>
                    <%= blog.title  %>
                </h2>
                <hr>
                <!-- Blog Snippet -->
                <h3>
                    <%= blog.snippet  %>
                </h3>
                <!-- Blog Body -->
                <div class="content">
                    <p>
                        <%= blog.body  %>
                    </p>
                </div>
                <!-- Button For Delete -->
                <a class="delete" data-doc="<%= blog._id  %>">DELETE</a>

            </div>

            <%- include('./partials/footer.ejs')  %>

                <script>
                    // AJAX CODE --e = event object
                    const trashcan = document.querySelector('a.delete');
                    trashcan.addEventListener('click', (e) => {
                        // storing a request  --trashcan and data 
                        const endpoint = `/blogs/${trashcan.dataset.doc}`;

                        fetch(endpoint, {
                                method: 'DELETE'
                            })
                            .then((response) => response.json())
                            // response.json will act as JS object and we can redirect to main page.
                            .then((data) => window.location.href = data.redirect)
                            .catch((err) => console.log(err));

                    })
                </script>


    </body>

</html>